<header class="sticky top-0 left-0 z-50 w-full bg-cyan-300">
  <div
    class="flex gap-x-8 justify-between items-center max-w-5xl mx-auto px-2 md:px-5 py-1 min-h-[50px]"
  >
    <a
      href="/"
      title="Currency Converter Home"
      class="flex gap-x-2 items-center"
    >
      <img
        class="flex max-w-full object-contain w-9"
        src="assets/logo.svg"
        alt=""
      />
      <span class="font-bold text-lg leading-none text-blue-950"
        >Currency<br />Converter</span
      >
    </a>

    <div class="grid md:flex md:gap-x-2 items-center">
      <span class="text-blue-950 font-bold">1 USD ={{ uahToUsd }}UAH </span>

      <span class="text-blue-950 font-bold">1 EUR = {{ uahToEur }}UAH</span>
    </div>
  </div>
</header>
